name: "Build SQLite with ICU on x86_64"

on:
  push:
    tags:
      - '*'
  workflow_dispatch:
    inputs:
      sqliteVersion:
        description: 'SQLite version to build'
        required: true

permissions:
  contents: write
  packages: write

jobs:
  build-container:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write


    env:
      SQLITE_VERSION: ${{ github.event.inputs.sqliteVersion || github.ref_name }}
      CONTAINER_TAG: sqlite-jdbc-icu-linux-x86_64:${{ github.event.inputs.sqliteVersion || github.ref_name }}
      TAG_NAME: sqlite-jdbc-icu-${{ github.event.inputs.sqliteVersion || github.ref_name }}-x86_64
      JAR_FILE: sqlite-jdbc-${{ github.event.inputs.sqliteVersion || github.ref_name }}.jar
    steps:
      - name: 'Checkout project'
        uses: actions/checkout@main
      # Create a gzip file containing the built frontend
      - name: 'Build production Inventory Image'
        working-directory: container
        run: |
          docker build . --tag ${{ env.CONTAINER_TAG }} -f sqlite.debian13.Containerfile --build-arg SQLITE_VERSION="${{ env.SQLITE_VERSION }}"
      - name: 'Extract jar from container'
        run: |
          id=$(docker create ${{ env.CONTAINER_TAG}})
          docker cp $id:/work/sqlite-jdbc/target/${{ env.JAR_FILE }} ./${{ env.JAR_FILE }}
          docker rm -v $id
          ls -la *.jar

      # Make sure a tag exists for release
      - uses: oleksiyrudenko/gha-git-credentials@v2-latest
        with:
          token: '${{ secrets.GITHUB_TOKEN }}'
      - name: "Make sure tag exists"
        run: |
          git tag ${{ env.SQLITE_VERSION }} && git push origin ${{ env.SQLITE_VERSION }} || echo "Tag already exists. Do not fail"

      - name: "Release jar"
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.SQLITE_VERSION }}
          name: SQLite-JDBC with ICU ${{ env.SQLITE_VERSION }}
          files: |
            ./${{ env.JAR_FILE }}
